* {
  box-sizing: border-box;
}

.signup {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
   background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  padding-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
}

.logo-signup {
  display: block;
  margin: 0 auto;
  width: 275px;
  padding-top: 55px;

}

.login-link {
  text-align: center;
  padding-top: 15px;
}
