.background {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image:
    linear-gradient(var(--color-overlay), var(--color-overlay)),
    url('../../Assets/background-signup.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
